.App {
    background-color: black;
    color: white;
    font-family: sans-serif;
  }
  .product{
    width:250px;
    height: 250px;
    border:1px solid red;
  }
  .btn{
    padding:20px;
    margin:5px;
    border:1px solid red;
    color:#fff;
  }